<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Mapper.HomePageMapper" >
  <resultMap id="BaseResultMap" type="po.HomePage" >
    <id column="homepage_id" property="homepageId" jdbcType="INTEGER" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="href" property="href" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_modified_time" property="lastModifiedTime" jdbcType="TIMESTAMP" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="isdelete" property="isdelete" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    homepage_id, image, href, create_time, last_modified_time, comment, name, isdelete
  </sql>
  <!-- <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="po.HomePageKey" >
    select 
    <include refid="Base_Column_List" />
    from home_page
    where homepage_id = #{homepageId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="po.HomePageKey" >
    delete from home_page
    where homepage_id = #{homepageId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="po.HomePage" >
    insert into home_page (homepage_id, image, href, 
      create_time, last_modified_time, comment, 
      name, isdelete)
    values (#{homepageId,jdbcType=INTEGER}, #{image,jdbcType=VARCHAR}, #{href,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{lastModifiedTime,jdbcType=TIMESTAMP}, #{comment,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{isdelete,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="po.HomePage" >
    insert into home_page
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="homepageId != null" >
        homepage_id,
      </if>
      <if test="image != null" >
        image,
      </if>
      <if test="href != null" >
        href,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lastModifiedTime != null" >
        last_modified_time,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="isdelete != null" >
        isdelete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="homepageId != null" >
        #{homepageId,jdbcType=INTEGER},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="href != null" >
        #{href,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedTime != null" >
        #{lastModifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null" >
        #{isdelete,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="po.HomePage" >
    update home_page
    <set >
      <if test="image != null" >
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="href != null" >
        href = #{href,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedTime != null" >
        last_modified_time = #{lastModifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null" >
        isdelete = #{isdelete,jdbcType=BIT},
      </if>
    </set>
    where homepage_id = #{homepageId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="po.HomePage" >
    update home_page
    set image = #{image,jdbcType=VARCHAR},
      href = #{href,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_modified_time = #{lastModifiedTime,jdbcType=TIMESTAMP},
      comment = #{comment,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      isdelete = #{isdelete,jdbcType=BIT}
    where homepage_id = #{homepageId,jdbcType=INTEGER}
  </update> -->
</mapper>